# –î–æ–º–∞—à–Ω–µ–µ –∑–∞–¥–∞–Ω–∏–µ –∫ –ª–µ–∫—Ü–∏–∏ "–û—Å–Ω–æ–≤—ã –≤–µ–±-—Å–∫—Ä–∞–ø–∏–Ω–≥–∞ –∏ —Ä–∞–±–æ—Ç—ã —Å API"

## –ó–∞–¥–∞–Ω–∏–µ 1. 

### –û–±—è–∑–∞—Ç–µ–ª—å–Ω–∞—è —á–∞—Å—Ç—å

–ë—É–¥–µ–º –ø–∞—Ä—Å–∏—Ç—å —Å—Ç—Ä–∞–Ω–∏—Ü—É —Å–æ —Å–≤–µ–∂–µ–º–∏ –Ω–æ–≤–æ—Å—Ç—è–º –Ω–∞ [habr.com/ru/all/](https://habr.com/ru/all/).

–í–∞–º –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ —Å–æ–±–∏—Ä–∞—Ç—å —Ç–æ–ª—å–∫–æ —Ç–µ —Å—Ç–∞—Ç—å–∏, –≤ –∫–æ—Ç–æ—Ä—ã—Ö –≤—Å—Ç—Ä–µ—á–∞–µ—Ç—Å—è —Ö–æ—Ç—è –±—ã –æ–¥–Ω–æ —Ç—Ä–µ–±—É–µ–º–æ–µ –∫–ª—é—á–µ–≤–æ–µ —Å–ª–æ–≤–æ. –≠—Ç–∏ —Å–ª–æ–≤–∞ –æ–ø—Ä–µ–¥–µ–ª—è–µ–º –≤ –Ω–∞—á–∞–ª–µ –∫–æ–¥–∞ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π, –Ω–∞–ø—Ä–∏–º–µ—Ä:

`KEYWORDS = ['python', '–ø–∞—Ä—Å–∏–Ω–≥']`

 –ü–æ–∏—Å–∫ –≤–µ—Å—Ç–∏ –ø–æ –≤—Å–µ–π –¥–æ—Å—Ç—É–ø–Ω–æ–π preview-–∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏ (—ç—Ç–æ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è, –¥–æ—Å—Ç—É–ø–Ω–∞—è –Ω–µ–ø–æ—Å—Ä–µ–¥—Å—Ç–≤–µ–Ω–Ω–æ —Å —Ç–µ–∫—É—â–µ–π —Å—Ç—Ä–∞–Ω–∏—Ü—ã). 
 
–í –∏—Ç–æ–≥–µ –¥–æ–ª–∂–µ–Ω —Ñ–æ—Ä–º–∏—Ä–æ–≤–∞—Ç—å—Å—è –¥–∞—Ç–∞—Ñ—Ä–µ–π–º —Å–æ —Å—Ç–æ–ª–±—Ü–∞–º–∏: <–¥–∞—Ç–∞> - <–∑–∞–≥–æ–ª–æ–≤–æ–∫> - <—Å—Å—ã–ª–∫–∞>.

### –î–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–∞—è —á–∞—Å—Ç—å (–Ω–µ–æ–±—è–∑–∞—Ç–µ–ª—å–Ω–∞—è)

–£–ª—É—á—à–∏—Ç—å —Å–∫—Ä–∏–ø—Ç —Ç–∞–∫, —á—Ç–æ–±—ã –æ–Ω –∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞–ª –Ω–µ —Ç–æ–ª—å–∫–æ preview-–∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é —Å—Ç–∞—Ç—å–∏, –Ω–æ –∏ –≤–µ—Å—å —Ç–µ–∫—Å—Ç —Å—Ç–∞—Ç—å–∏ —Ü–µ–ª–∏–∫–æ–º.

–î–ª—è —ç—Ç–æ–≥–æ –ø–æ—Ç—Ä–µ–±—É–µ—Ç—Å—è –ø–æ–ª—É—á–∞—Ç—å —Å—Ç—Ä–∞–Ω–∏—Ü—ã —Å—Ç–∞—Ç–µ–π –∏ –∏—Å–∫–∞—Ç—å –ø–æ —Ç–µ–∫—Å—Ç—É –≤–Ω—É—Ç—Ä–∏ —ç—Ç–æ–π —Å—Ç—Ä–∞–Ω–∏—Ü—ã.

–ò—Ç–æ–≥–æ–≤—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º —Ñ–æ—Ä–º–∏—Ä–æ–≤–∞—Ç—å —Å–æ —Å—Ç–æ–ª–±—Ü–∞–º–∏: <–¥–∞—Ç–∞> - <–∑–∞–≥–æ–ª–æ–≤–æ–∫> - <—Å—Å—ã–ª–∫–∞> - <—Ç–µ–∫—Å—Ç —Å—Ç–∞—Ç—å–∏>

In [1]:
import requests
import time
import pandas as pd
from datetime import datetime, timedelta
from bs4 import BeautifulSoup

In [2]:
KEYWORDS = ['python', '–ø–∞—Ä—Å–∏–Ω–≥']

In [3]:
req = requests.get('https://habr.com/ru/all/')
soup = BeautifulSoup(req.text, 'html.parser')

In [4]:
posts = soup.find_all('article', class_='post')
# posts

In [5]:
links = []

for post in posts:
    url = post.find('a', class_='post__title_link')
    a = url.attrs.get('href')
    links.append(a)

list_ = []

for link in links:
    req = requests.get(link)
    soup = BeautifulSoup(req.text, 'html.parser')
    news = soup.find_all('div', class_='post__text')
    
    for el in news:
        el_lower = el.text.lower()  
        # –∏—â–µ–º –≤—Ö–æ–∂–¥–µ–Ω–∏–µ –∫–ª—é—á–µ–≤–æ–≥–æ —Å–ª–æ–≤–∞ –≤ –ø–æ—Å—Ç–µ
        for words in KEYWORDS:
            if words in el_lower:
                data = soup.find('span', class_='post__time').attrs.get('data-time_published')
                post_title = soup.find('span', class_='post__title-text').text
                href = link
                text = soup.find('div', class_='post__text').text
                row = {'data': data, 'title': post_title, 'href': href, 'text': text} 
                list_.append(row) 
                break   
                
df = pd.DataFrame(list_)
df['data'] = df['data'].astype('datetime64')
df

,data,title,href,text
0,2020-08-03 11:06:00,Canary Deployment –≤ Kubernetes #3: Istio,https://habr.com/ru/company/nixys/blog/513578/,–ò—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ Istio+Kiali –¥–ª—è –∑–∞–ø—É—Å–∫–∞ –∏ –≤–∏–∑—É–∞–ª...
1,2020-08-03 09:17:00,–ë—ã—Å—Ç—Ä—ã–π —Å—Ç–∞—Ä—Ç –∏ –Ω–∏–∑–∫–∏–π –ø–æ—Ç–æ–ª–æ–∫. –ß—Ç–æ –∂–¥–µ—Ç –º–æ–ª–æ–¥...,https://habr.com/ru/company/skillfactory/blog/...,–ü–æ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è–º HeadHunter –∏ Mail.ru —Å–ø—Ä–æ—Å –Ω–∞...
2,2020-08-03 09:16:00,–¢–∞–∫ –ª–∏ –±–µ–∑–æ–ø–∞—Å–µ–Ω –≤–∞—à iPhone? –û–±–∑–æ—Ä —É—è–∑–≤–∏–º–æ—Å—Ç–µ–π...,https://habr.com/ru/company/ruvds/blog/513562/,\n\r\n–ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –¥–∞–Ω–Ω—ã–µ –Ω–µ —è–≤–ª—è—é—Ç—Å—è —Ä–∞–∑–º...
3,2020-08-03 09:01:00,–ö–∞–∫ —è –≤—ã–∫–∏–Ω—É–ª webpack –∏ –Ω–∞–ø–∏—Å–∞–ª babel-plugin –¥...,https://habr.com/ru/post/513564/,–ü—Ä–µ–¥—ã—Å—Ç–æ—Ä–∏—è\r\n–ö–∞–∫-—Ç–æ —Å—É–±–±–æ—Ç–Ω–∏–º –≤–µ—á–µ—Ä–æ–º —è —Å–∏–¥–µ...
4,2020-08-03 08:30:00,–ö–∞–∫ –ø–µ—Ä–µ–∑–∞–ø—É—Å—Ç–∏—Ç—å –∑–∞–∫–æ–Ω –ú—É—Ä–∞ –ø—Ä–æ–≥—Ä–∞–º–º–Ω—ã–º–∏ –º–µ—Ç–æ...,https://habr.com/ru/company/vdsina/blog/513436/,–ü—Ä–æ—Ñ–µ—Å—Å–æ—Ä –ù–∏–∫–ª–∞—É—Å –í–∏—Ä—Ç –±—ã–ª –ø—Ä–∞–≤. –°–æ–∑–¥–∞—Ç–µ–ª—å —è–∑—ã...

## –ó–∞–¥–∞–Ω–∏–µ 2.

### –û–±—è–∑–∞—Ç–µ–ª—å–Ω–∞—è —á–∞—Å—Ç—å

–ù–∞–ø–∏—Å–∞—Ç—å —Å–∫—Ä–∏–ø—Ç, –∫–æ—Ç–æ—Ä—ã–π –±—É–¥–µ—Ç –ø—Ä–æ–≤–µ—Ä—è—Ç—å —Å–ø–∏—Å–æ–∫ e-mail –∞–¥—Ä–µ—Å–æ–≤ –Ω–∞ —É—Ç–µ—á–∫—É –ø—Ä–∏ –ø–æ–º–æ—â–∏ —Å–µ—Ä–≤–∏—Å–∞ [Avast Hack Ckeck](https://www.avast.com/hackcheck/).
–°–ø–∏—Å–æ–∫ email-–æ–≤ –∑–∞–¥–∞–µ–º –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π –≤ –Ω–∞—á–∞–ª–µ –∫–æ–¥–∞:  
`EMAIL = [xxx@x.ru, yyy@y.com]`

–í –∏—Ç–æ–≥–µ –¥–æ–ª–∂–µ–Ω —Ñ–æ—Ä–º–∏—Ä–æ–≤–∞—Ç—å—Å—è –¥–∞—Ç–∞—Ñ—Ä–µ–π–º —Å–æ —Å—Ç–æ–ª–±—Ü–∞–º–∏: <–ø–æ—á—Ç–∞> - <–¥–∞—Ç–∞ —É—Ç–µ—á–∫–∏> - <–∏—Å—Ç–æ—á–Ω–∏–∫ —É—Ç–µ—á–∫–∏> - <–æ–ø–∏—Å–∞–Ω–∏–µ —É—Ç–µ—á–∫–∏>.

In [6]:
email_list = ['eterin@agriculture.ru',
         'lawpro-707@list.ru',
         'solowey011@yandex.ru',
         'ahds@aol.com',
         'akas@aol.com',
         'workpost@fxt.ru'
]

In [7]:
def check_email_list(email_list):
    list_of_leaks = []

    for email in email_list:
        url = 'https://digibody.avast.com/v1/web/leaks'
        params = {'email': email}
        req = requests.post(url, json=params)
        time.sleep(0.3)
        leaks = req.json()['value']

        for leak in leaks:
            email_2 = email
            date = leak['leak_info']['date']
            source = leak['leak_info']['title']
            description = leak['leak_info']['description'] 
            row = {'email': email_2, 'date': date, 'source': source, 'description': description} 
            list_of_leaks.append(row)
    df = pd.DataFrame(list_of_leaks)   
    return df

In [8]:
table = check_email_list(email_list)

In [9]:
table.head()

,email,date,source,description
0,lawpro-707@list.ru,1565222400000,Borealis.su,"At an unconfirmed date, Russian Minecraft serv..."
1,lawpro-707@list.ru,1588204800000,Payad,"At an unconfirmed date, the advertising revenu..."
2,solowey011@yandex.ru,1549411200000,Collection #5 Combo List,"On January 7, 2019, an online user named Sanix..."
3,solowey011@yandex.ru,1548720000000,Collection #2 Combo List,"On January 7, 2019, an online user named Sanix..."
4,solowey011@yandex.ru,1549411200000,2019 Antipublic Combo List,"On January 7, 2019, an online user named Sanix..."

In [10]:
def data_conversion(data):
    d = datetime.fromtimestamp(int(str(data)[0:10])).strftime('%Y-%m-%d')
    return d

In [11]:
table['date'] = table['date'].apply(data_conversion)

In [12]:
table.head()

,email,date,source,description
0,lawpro-707@list.ru,2019-08-08,Borealis.su,"At an unconfirmed date, Russian Minecraft serv..."
1,lawpro-707@list.ru,2020-04-30,Payad,"At an unconfirmed date, the advertising revenu..."
2,solowey011@yandex.ru,2019-02-06,Collection #5 Combo List,"On January 7, 2019, an online user named Sanix..."
3,solowey011@yandex.ru,2019-01-29,Collection #2 Combo List,"On January 7, 2019, an online user named Sanix..."
4,solowey011@yandex.ru,2019-02-06,2019 Antipublic Combo List,"On January 7, 2019, an online user named Sanix..."

### –î–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–∞—è —á–∞—Å—Ç—å (–Ω–µ–æ–±—è–∑–∞—Ç–µ–ª—å–Ω–∞—è)

–ù–∞–ø–∏—Å–∞—Ç—å —Å–∫—Ä–∏–ø—Ç, –∫–æ—Ç–æ—Ä—ã–π –±—É–¥–µ—Ç –ø–æ–ª—É—á–∞—Ç—å 50 –ø–æ—Å–ª–µ–¥–Ω–∏—Ö –ø–æ—Å—Ç–æ–≤ —É–∫–∞–∑–∞–Ω–Ω–æ–π –≥—Ä—É–ø–ø—ã –≤–æ –í–∫–æ–Ω—Ç–∞–∫—Ç–µ.  
–î–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏—è –∫ API VK: https://vk.com/dev/methods
, –≤–∞–º –ø–æ–º–æ–∂–µ—Ç –º–µ—Ç–æ–¥ [wall.get](https://vk.com/dev/wall.get)```
GROUP = 'netology'
TOKEN = –£–î–ê–õ–Ø–ô–¢–ï –í –í–ï–†–°–ò–ò –î–õ–Ø –ü–†–û–í–ï–†–ö–ò, –ù–ê GITHUB –ù–ï –í–´–ö–õ–ê–î–´–í–ê–¢–¨
```

–í –∏—Ç–æ–≥–µ –¥–æ–ª–∂–µ–Ω —Ñ–æ—Ä–º–∏—Ä–æ–≤–∞—Ç—å—Å—è –¥–∞—Ç–∞—Ñ—Ä–µ–π–º —Å–æ —Å—Ç–æ–ª–±—Ü–∞–º–∏: <–¥–∞—Ç–∞ –ø–æ—Å—Ç–∞> - <—Ç–µ–∫—Å—Ç –ø–æ—Å—Ç–∞>.

In [43]:
URL = 'https://api.vk.com/method/newsfeed.search?'
GROUP = 'netology'
TOKEN = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
VERSION = '5.103'

SLEEP = 0.33

In [44]:
params = {
    'access_token': TOKEN,
    'v': VERSION,
    'q': GROUP,
    'count': 50
}

In [45]:
res = requests.get(URL, params)
# res.text
# res.json()

In [46]:
df_2 = pd.DataFrame(res.json()['response']['items'])
df_2.head()

,id,date,owner_id,from_id,post_type,text,marked_as_ads,attachments,comments,likes,reposts,views,is_favorite,signer_id
0,3,1596452883,-197640082,-197640082,post,#–ø–æ–ª–µ–∑–Ω–æ—Å—Ç–∏ \n \n–ù–∞—á–∏–Ω–∞–µ–º –ø–æ–¥–ø–∏—Å—ã–≤–∞—Ç—å—Å—è –Ω–∞ —Å–æ–æ...,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",{'count': 0},{'count': 0},{'count': 0},{'count': 2},False,NaN
1,37534,1596445203,-66036248,-66036248,post,"–ë–æ–ª—å—à–∏–Ω—Å—Ç–≤–æ email-—Ä–∞—Å—Å—ã–ª–æ–∫ –ø–æ—Ö–æ–∂–∏ –Ω–∞ —Å–ø–∞–º, –Ω–æ ...",0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",{'count': 0},{'count': 38},{'count': 4},{'count': 2990},False,NaN
2,1182,1596443343,-44983992,-44983992,post,–ù–æ–≤–æ–µ –∏ –∏–Ω—Ç–µ—Ä–µ—Å–Ω–æ–µ! –õ–æ–≤–∏ –ø–æ–¥–±–æ—Ä–∫—É –ª–µ–∫—Ü–∏–π –∏ –≤–µ–±...,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",{'count': 0},{'count': 0},{'count': 0},{'count': 36},False,NaN
3,2720,1596430335,-175581292,-175581292,post,üíªüì± –î–∏—Å—Ç–∞–Ω—Ü–∏–æ–Ω–Ω—ã–µ –æ–±—Ä–∞–∑–æ–≤–∞—Ç–µ–ª—å–Ω—ã–µ –ø–ª–æ—â–∞–¥–∫–∏ —Å –æ–≥...,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",{'count': 0},{'count': 3},{'count': 0},{'count': 48},False,NaN
4,243,1596294720,-186521205,-186521205,post,–ö–∞–∫ –Ω–∞—á–∏–Ω–∞—é—â–µ–º—É —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç—É –ø–æ–ª—É—á–∏—Ç—å –ø–µ—Ä–≤—É—é —Ä–∞...,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",{'count': 0},{'count': 0},{'count': 0},{'count': 5},False,NaN

In [47]:
df_2['date'] = df_2['date'].apply(data_conversion)
df_2.head()

,id,date,owner_id,from_id,post_type,text,marked_as_ads,attachments,comments,likes,reposts,views,is_favorite,signer_id
0,3,2020-08-03,-197640082,-197640082,post,#–ø–æ–ª–µ–∑–Ω–æ—Å—Ç–∏ \n \n–ù–∞—á–∏–Ω–∞–µ–º –ø–æ–¥–ø–∏—Å—ã–≤–∞—Ç—å—Å—è –Ω–∞ —Å–æ–æ...,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",{'count': 0},{'count': 0},{'count': 0},{'count': 2},False,NaN
1,37534,2020-08-03,-66036248,-66036248,post,"–ë–æ–ª—å—à–∏–Ω—Å—Ç–≤–æ email-—Ä–∞—Å—Å—ã–ª–æ–∫ –ø–æ—Ö–æ–∂–∏ –Ω–∞ —Å–ø–∞–º, –Ω–æ ...",0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",{'count': 0},{'count': 38},{'count': 4},{'count': 2990},False,NaN
2,1182,2020-08-03,-44983992,-44983992,post,–ù–æ–≤–æ–µ –∏ –∏–Ω—Ç–µ—Ä–µ—Å–Ω–æ–µ! –õ–æ–≤–∏ –ø–æ–¥–±–æ—Ä–∫—É –ª–µ–∫—Ü–∏–π –∏ –≤–µ–±...,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",{'count': 0},{'count': 0},{'count': 0},{'count': 36},False,NaN
3,2720,2020-08-03,-175581292,-175581292,post,üíªüì± –î–∏—Å—Ç–∞–Ω—Ü–∏–æ–Ω–Ω—ã–µ –æ–±—Ä–∞–∑–æ–≤–∞—Ç–µ–ª—å–Ω—ã–µ –ø–ª–æ—â–∞–¥–∫–∏ —Å –æ–≥...,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",{'count': 0},{'count': 3},{'count': 0},{'count': 48},False,NaN
4,243,2020-08-02,-186521205,-186521205,post,–ö–∞–∫ –Ω–∞—á–∏–Ω–∞—é—â–µ–º—É —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç—É –ø–æ–ª—É—á–∏—Ç—å –ø–µ—Ä–≤—É—é —Ä–∞...,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",{'count': 0},{'count': 0},{'count': 0},{'count': 5},False,NaN

In [41]:
news_netology = df_2[['date', 'text']]
news_netology.head()

         date                                               text
0  2020-08-03  #–ø–æ–ª–µ–∑–Ω–æ—Å—Ç–∏ \n \n–ù–∞—á–∏–Ω–∞–µ–º –ø–æ–¥–ø–∏—Å—ã–≤–∞—Ç—å—Å—è –Ω–∞ —Å–æ–æ...
1  2020-08-03  –ë–æ–ª—å—à–∏–Ω—Å—Ç–≤–æ email-—Ä–∞—Å—Å—ã–ª–æ–∫ –ø–æ—Ö–æ–∂–∏ –Ω–∞ —Å–ø–∞–º, –Ω–æ ...
2  2020-08-03  –ù–æ–≤–æ–µ –∏ –∏–Ω—Ç–µ—Ä–µ—Å–Ω–æ–µ! –õ–æ–≤–∏ –ø–æ–¥–±–æ—Ä–∫—É –ª–µ–∫—Ü–∏–π –∏ –≤–µ–±...
3  2020-08-03  üíªüì± –î–∏—Å—Ç–∞–Ω—Ü–∏–æ–Ω–Ω—ã–µ –æ–±—Ä–∞–∑–æ–≤–∞—Ç–µ–ª—å–Ω—ã–µ –ø–ª–æ—â–∞–¥–∫–∏ —Å –æ–≥...
4  2020-08-02  –ö–∞–∫ –Ω–∞—á–∏–Ω–∞—é—â–µ–º—É —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç—É –ø–æ–ª—É—á–∏—Ç—å –ø–µ—Ä–≤—É—é —Ä–∞...